/**
    Forms
*/
.styled-select {
    select {
        background-color: $SPPDarkBlue;
        border: none;
        font-family: $bodyFamily;
        font-size: 0.8rem;
        color: $SPPBlue;
        option {
            border: none;
            border-bottom: 1px solid $SPPDarkBlue;
            background-color: $SPPBlue;
            color: $SPPDarkBlue;
        }
    }

}

/*
.styled-select select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}
.styled-select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(new_arrow.png) no-repeat right #ddd;
    border: 1px solid #ccc;
}*/