/**
    Forms
*/
.styled-select {
    select {
    /*    width: 268px;
        padding: 5px;*/
        font-size: 0.8rem; //16px;
        padding-right: 25px;
        line-height: 1;
        border: 0;
        font-family: $bodyFamily;
        //border-radius: 5px;
        //height: 34px;
        background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right $SPPDarkBlue;
        -webkit-appearance: none;
        background-position-x: right;
        -moz-appearance:none;
        color: white;
        option {
            border: none;
            border-bottom: 1px solid $SPPDarkBlue;
            background-color: $SPPBlue;
            color: $SPPDarkBlue;
        }        
    }
}

.btn {
    background-color: $SPPDarkBlue;
    padding: 8px 11px;
    display: inline-block;
    border: 1px solid black;
    text-decoration: none;
    color: $SPPBlue;  
    font-size:1.5rem;  
}


    /*
    select {
        background-color: $SPPDarkBlue;
        border: none;
        font-family: $bodyFamily;
        font-size: 0.8rem;
        color: $SPPBlue;
        overflow: hidden;
        option {
            border: none;
            border-bottom: 1px solid $SPPDarkBlue;
            background-color: $SPPBlue;
            color: $SPPDarkBlue;
        }
    }*/

//}

/*
.styled-select select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}
.styled-select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(new_arrow.png) no-repeat right #ddd;
    border: 1px solid #ccc;
}*/