/** Main styling */

#creator-main .single-creator img {
    max-width: 100%;
    height: auto;
}
.single-creator--creator-details .related {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    ul {
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
        list-style: none;
        li {
            width: 25%;
            clear: left;
            @include respond-to( xs-screens )
            {
                width: 50%;
            }
            .item-image {
                display: block;
                position: relative;
                width: 100%;
                overflow: hidden;
            }
        }
    }
    .item-info {
        position: relative;
        padding: 2px 20px;
        display: block;        
        h3 {
            margin-top: 20px;
            margin-right: 25px;
        }
        .product-creators {
            margin-top: 5px;
            a {
                font-size: 13px;
                color: #888;
                text-transform: uppercase;
            }
        }  
        .product-terms {
            display: inline-block;
            font-weight: 300;
            text-transform: uppercase;
            a {
                color: #888;
            }
        }   
        .price {
            display: block;
            color: #333;
            margin-right: 0;
            margin-top: 20px;
            font-size: 20px;
        }  
        a[data-product_id] {
            position: absolute;
            top: 35px;
            right: 10px;
            text-decoration: none;
            &::before {
                position: relative;
                font-family: EntypoRegular;
                content: '\e816';
                font-weight: 300;
                display: block;
                font-size: 22px;
                line-height: 0;
                color: #222;
                margin-right: 10px;
                -webkit-transform: rotate(0);
                transform: rotate(0);
                -webkit-transition-duration: .3s;
                transition-duration: .3s;
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
            }
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                font-family: EntypoRegular;
                content: '';
                display: block;
                color: #0fbd71;
                margin-right: 10px;
                top: -8px;
                background: url(../images/check.png) no-repeat center center;
                    background-size: auto auto;
                width: 16px;
                height: 16px;
                background-size: 16px;
                zoom: 1;
                -webkit-opacity: 0;
                -moz-opacity: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        } 
    }
}