/**
    Article styling
*/
article.unit
{
    height: 400px; //240px;
    overflow: hidden;
    margin-bottom: 3%;
    display: none;
    &:first-child {
        @include respond-to-above( xs-mini-screens ) {
            display: inline-block;
            float: left; // Temporary setting
        }         
    }
    &:last-child {
        display: block;  // Temporary setting
        @include respond-to-above( xs-mini-screens ) {
            display: inline-block;
            float: right; // Temporary setting
        }  
    }
    @include respond-to-above( xs-mini-screens ) {
        width: 48%;
        float: left; // Temporary setting
    }  
    @include respond-to-above( xs-screens ) {
        display: inline-block;  
        width: 23%;
    }     
  
}

.unit a {
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    p {
        position: absolute;
        top: 10px;
        left: 20%;
        padding: 1px 5px 1px 3px;
        color: $SPPBlue;
        background-color: white;
        box-shadow: 1px 2px 2px $SPPGrey;
        transform: rotate(-4deg);
        display: table-caption;
    }
    img {
        height: 100%;
    }
    .unit-text {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0 0 2% 0;
        position: absolute;
        bottom: 0;
        width: 100%;
    }        
}

.creators article.unit {
    display: flex;
    justify-content: space-between;
    a {
        display: inline-block;
        width: 48%;
    }
    .creators-shortbio {
        width: 48%;
    }
}