/** Navigation styles */

#menu-main-menu .current-menu-item {
    background-color: $SPPBlue!important;
    a {
        color: white!important;
        &:hover {
            color: $SPPDarkBlue!important;
        }
    }
}

#menu-main-menu a:hover, 
#menu-main-menu a:hover {
    color: $SPPBlue!important;
}

a.cta {
    color: $SPPDarkBlue;
    font-size: 16px;
    margin: 24px 0;
    &:hover {
        color: $SPPOrange;
    }
}