/**
 *  Global settings
 */
html, body {
  height: 100%;
}

/**
    Colours
*/
/**
    Font styles
*/
body {
  font-family: "Merriweather", Georgia, serif;
  line-height: 1.8rem;
  color: #035491;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

/**
	Mixins
*/
/* Usage - Stick into the top of your SCSS sheet and @include where needed for cross browser transitions. 

.class {
		 @include transition($transition-property, $transition-time, $method);
}

$transition-property = the property you want to transition
$transition-time = seconds you want the transition to last
$method = how you want it to transition - e.g. ease-in-out

Usage example;

-------------

.item {
		@include transition(padding, 1s, ease-in-out);
}

-------------

*/
/**
	Calculate the width of <main> based on the aside and gutter widths
*/
/**
	Set of mixins from https://gist.github.com/garyharan/957284
*/
/**
	Grid values
*/
/**
    Wrappers styles
*/
html, body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  max-width: 100%;
}
@media only screen and (min-width: 850px) {
  header {
    line-height: 2.8rem;
  }
}

.mobile {
  margin-right: 2%;
}

main {
  padding: 10% 5% 5% 5%;
  flex: 1;
  background: url(../img/header-bg3.png) no-repeat;
  background-size: 100%;
  background-position-y: 2%;
}
main .books div {
  margin-bottom: 3%;
}

footer {
  width: 100%;
}
footer * {
  margin-left: 1%;
  margin-right: 1%;
  font-size: 0.9rem;
}
@media only screen and (min-width: 850px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/**
    Elements accumulated
*/
/**
    Headings
*/
h2 {
  font-size: 1.2rem;
  font-family: "Lato", Arial, sans-serif;
}

.section-teaser h2 {
  margin-bottom: 0;
}

h3 {
  font-size: 1rem;
  font-family: "Lato", Arial, sans-serif;
}

.book-text h3 {
  color: #035491;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.book-text h3.book-title {
  font-size: 1.8rem;
  margin-top: 1%;
}
.book-text h3.book-author {
  font-size: 1.5rem;
  font-style: italic;
}
.book-text h3:hover {
  color: #24A0FF;
}

/*
@import "partials/objects.grid";
@import "partials/objects.wrappers";


@import "partials/elements.headings";
@import "partials/elements.text";*/
/**
    Components accumulated
*/
/**
    Nav
*/
.login a {
  font-size: 1rem;
  color: white;
}
@media only screen and (min-width: 850px) {
  .login a {
    font-size: 1.6rem;
  }
}

.open {
  font-size: 1rem;
}
@media only screen and (min-width: 850px) {
  .open {
    font-size: 1.6rem;
  }
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  margin-left: 0;
}
.footer-nav a:hover {
  color: #DE8909;
  transition-duration: 0.5s;
}

/**
    Header
*/
header {
  background-color: #035491;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 1%;
}

/**
    Footer
*/
footer {
  background-color: #035491;
  color: white;
}

/**
    Article styling
*/
.books article {
  height: 240px;
  overflow: hidden;
}
.books article a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
}
.books article a p {
  position: absolute;
  top: 10px;
  left: 2px;
  padding: 1px 5px 1px 3px;
  color: #24A0FF;
  background-color: white;
  box-shadow: 1px 2px 2px #888888;
  transform: rotate(-4deg);
}
.books article a img {
  width: 100%;
  margin-top: -25%;
  flex: 1;
}
.books article a .book-text {
  margin-top: -250px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 2%;
}

/**
    Forms
*/
.styled-select select {
  /*    width: 268px;
      padding: 5px;*/
  font-size: 0.8rem;
  padding-right: 25px;
  line-height: 1;
  border: 0;
  font-family: "Merriweather", Georgia, serif;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #035491;
  -webkit-appearance: none;
  background-position-x: right;
  -moz-appearance: none;
  color: white;
}
.styled-select select option {
  border: none;
  border-bottom: 1px solid #035491;
  background-color: #24A0FF;
  color: #035491;
}

.btn {
  background-color: #035491;
  padding: 8px 11px;
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  color: #24A0FF;
  font-size: 1.5rem;
}

/*
select {
    background-color: $SPPDarkBlue;
    border: none;
    font-family: $bodyFamily;
    font-size: 0.8rem;
    color: $SPPBlue;
    overflow: hidden;
    option {
        border: none;
        border-bottom: 1px solid $SPPDarkBlue;
        background-color: $SPPBlue;
        color: $SPPDarkBlue;
    }
}*/
/*
.styled-select select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}
.styled-select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(new_arrow.png) no-repeat right #ddd;
    border: 1px solid #ccc;
}*/
/**
    Lists
*/
ul {
  list-style: none;
  margin: 0;
  padding: 0 li;
  padding-list-style: none;
  padding-margin: 0;
  padding-padding: 0;
}

/*
@import "partials/components.header";
@import "partials/components.footer";
@import "partials/components.site-nav";
@import "partials/components.articles";
@import "partials/components.buttons";
@import "partials/components.forms";

*/
