/**
	Grid values
*/
$maxWidth: 		1170px;


// XS Mini - 0-399px
// XS - 0-767px
// Small - 768px-991px
// Medium - 992px-1199px
// Large - 1200px+
$break-large: 	1150px;
$break-medium: 	992px;
$break-small: 	768px;
$break-mini: 	576px;